<h1 class="is-size-2 has-text-centered m-2">My Dashboard</h1>
{{#each posts}}
<div class="box">
    <div class="is-flex is-justify-content-space-between is-align-items-center has-background-black has-text-white p-2">
        <a href="/post/{{id}}" class="links has-text-white is-size-4">{{title}}</a>
        <p>Created by {{user.username}} on {{formatDate created_at}}</p>
    </div>
    <p class="is-size-5 my-4">{{post_content}}</p>
    <a href="/dashboard/edit/{{id}}"
        class="button is-success is-light  is-flex is-justify-content-center edit-link">Edit
        Post</a>
</div>
{{/each}}
<section class="new-post-section is-flex is-justify-content-center">
    <button type="submit" class="button is-black mb-3" id="create-new-post">Create new post</button>
</section>


<script src="/js/createPost.js"></script>